/* REMOVE LEFT SIDEBAR MENU */

.md-sidebar--primary {
  display: none !important;
}

.md-content {
  margin-left: 0 !important;
}

.md-main__inner {
  max-width: 1100px !important;
  margin: 0 auto !important;
}

/* MAKE TOP MENU MORE VISIBLE */

.md-tabs {
  display: block !important;
}

.md-tabs__list {
  justify-content: center !important;
}

.md-tabs__item {
  margin: 0 18px !important;
}

.md-tabs__link {
  font-size: 0.95rem !important;
  font-weight: 700 !important;
  letter-spacing: 0.3px !important;
}
